.add__button{
    float: right;
    margin-top: 20px;
    margin-right: 40px;
}
.icon{
    font-size: 10px;
}
.edit__icon{
    margin-left: 5px;
}
.delete__icon{
    margin-right: 5px;
}
.view__icon{
    margin-left: 5px;
}