.add__button{
    float: right;
    margin-top: 20px;
    margin-right: 40px;
}
.icon{
    font-size: 10px;
}
.edit__icon{
    margin-left: 5px;
}
.delete__icon{
    margin-right: 5px;
}
.view__icon{
    margin-left: 5px;
}
.action{
    display: flex;
}
.search{
    width: 300px;
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    border-radius: 5px;
    border: none;
    color: gray;
}
.search__icon{
    margin-top: 5px;
}
.editIcons{
    margin-left: 10px;
}