.modal_button{
    display: flex;
    justify-content: right;
    padding: 10px;
}
.table{
    margin-top: 60px;
}
.cancel__button{
    padding: 5px;
}
.confirm__button{
    padding: 5px;
}
.modal__header{
    margin-bottom: 10px;
}